.product-card {
  margin-top: 50px;
  border: 1px solid #b9aaaa;
  width: 400px;
  height: auto;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


  .btn {
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  &:hover {
    .btn {
      opacity: 1;
    }
  }

}


.product-card img {
  width: 100%;
  height: 300px;
}

.product-card h3 {
  margin-bottom: 0; // Remove bottom margin
}

.product-card p {
  margin-top: 0; // Remove top margin
}



