.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .h1_container {
    display: flex;
    margin: 4rem 0;

    h1 {
      font-size: 40px;
      color: #000000;
      margin: auto;
    }
  }

  .image-container {
    display: flex;
    width: 100vw;
    height: 200px;
    background: url("../../assets/pexels-roman-odintsov-5855789.jpg") no-repeat center;
    background-size: cover;
  }

}
